@import '../../styles/variables';
@import '../../App.module';

.cardProposed {
    border-left: 3px solid orange;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.cardApproved {
    border-left: 3px solid green;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.cardRevoked {
    border-left: 3px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.templateContainer {
    padding-bottom: 1rem;
}
