@import '../../styles/variables';
@import '../../App.module';

.cardUnfulfilled {
    border-left: 3px solid orange;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.cardFulfilled {
    border-left: 3px solid green;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.cardAborted {
    border-left: 3px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.fulfillContainer {
    margin-bottom: 1em;
}
